.calculator {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    height: 470px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}

.val1, .val2 {
    margin-left: 30px;
    margin-top: 30px;
}

input {
    height: 20px;
}

.addition, .subtraction, .multiplication, .division {
    width: 70px;
    height: 70px;
    font-size: 24px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    cursor: pointer;
}

.buttons {
    margin-top: 30px;
    margin-left: 80px;
}

h2 {
    margin-top: 20px;
    margin-left: 30px;
}

.name {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

a {
    text-decoration: none;
}

.source-code {
    text-align: center;
    margin-top: 60px;
}
